.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393e46;
}

h1 {
    margin-top: 120px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ecca3;
}

p {
    font-size: 1.8rem;
    color: #4ecca3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

#btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
}

footer {
    margin-top: 30px;
    color: #eeeeee;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
